# flyctl launch added from .gitignore
**/.DS_Store
**/node_modules
dist


# local env files
**/.env.local
**/.env.*.local

# Log files
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Editor directories and files
**/.idea
**/.vscode
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# flyctl launch added from src/api/api-mock/.gitignore
############################
# OS X
############################

src/api/api-mock/**/.DS_Store
src/api/api-mock/**/.AppleDouble
src/api/api-mock/**/.LSOverride
src/api/api-mock/**/Icon
src/api/api-mock/**/.Spotlight-V100
src/api/api-mock/**/.Trashes
src/api/api-mock/**/._*


############################
# Linux
############################

src/api/api-mock/**/*~


############################
# Windows
############################

src/api/api-mock/**/Thumbs.db
src/api/api-mock/**/ehthumbs.db
src/api/api-mock/**/Desktop.ini
src/api/api-mock/**/$RECYCLE.BIN
src/api/api-mock/**/*.cab
src/api/api-mock/**/*.msi
src/api/api-mock/**/*.msm
src/api/api-mock/**/*.msp


############################
# Packages
############################

src/api/api-mock/**/*.7z
src/api/api-mock/**/*.csv
src/api/api-mock/**/*.dat
src/api/api-mock/**/*.dmg
src/api/api-mock/**/*.gz
src/api/api-mock/**/*.iso
src/api/api-mock/**/*.jar
src/api/api-mock/**/*.rar
src/api/api-mock/**/*.tar
src/api/api-mock/**/*.zip
src/api/api-mock/**/*.com
src/api/api-mock/**/*.class
src/api/api-mock/**/*.dll
src/api/api-mock/**/*.exe
src/api/api-mock/**/*.o
src/api/api-mock/**/*.seed
src/api/api-mock/**/*.so
src/api/api-mock/**/*.swo
src/api/api-mock/**/*.swp
src/api/api-mock/**/*.swn
src/api/api-mock/**/*.swm
src/api/api-mock/**/*.out
src/api/api-mock/**/*.pid


############################
# Logs and databases
############################

src/api/api-mock/**/.tmp
src/api/api-mock/**/*.log
src/api/api-mock/**/*.sql
src/api/api-mock/**/*.sqlite
src/api/api-mock/**/*.sqlite3


############################
# Misc.
############################

src/api/api-mock/**/*#
src/api/api-mock/**/ssl
src/api/api-mock/**/.idea
src/api/api-mock/**/nbproject
src/api/api-mock/**/public/uploads/*
!src/api/api-mock/**/public/uploads/.gitkeep

############################
# Node.js
############################

src/api/api-mock/**/lib-cov
src/api/api-mock/**/lcov.info
src/api/api-mock/**/pids
src/api/api-mock/**/logs
src/api/api-mock/**/results
src/api/api-mock/**/node_modules
src/api/api-mock/**/.node_history

############################
# Tests
############################

src/api/api-mock/**/testApp
src/api/api-mock/**/coverage

############################
# Strapi
############################

src/api/api-mock/**/.env
src/api/api-mock/**/license.txt
src/api/api-mock/**/exports
src/api/api-mock/**/*.cache
src/api/api-mock/**/dist
src/api/api-mock/**/build
src/api/api-mock/**/.strapi-updater.json
fly.toml
